<div class="row">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="fs-6 text-secondary mb-2 text-uppercase text-center">
          Our Team
        </h2>
        <p class="display-5 mb-4 mb-md-5 text-center">
          With Our Team, you can expect personalized attention and engaging
          designs.
        </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>
  @for (membern of memberserves.members(); track membern.id) {
  <div class="col-md-4">
    <app-member-card [member]="membern"></app-member-card>
  </div>
  }
</div>
