<app-navbar></app-navbar>
<div class="container mt-4">
<router-outlet></router-outlet>    
</div>
<div class="vewspinner text-center"*ngIf="buthy.vewspiiner()">
    /* From Uiverse.io by Vazafirst */ 
    <div id="page">
            <div id="container">
                <div id="ring"></div>
                <div id="ring"></div>
                <div id="ring"></div>
                <div id="ring"></div>
               <h2 id="h3" class="text-white"> loadding...</h2>
            </div>
    </div>
</div>
